<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- 
	init-method：指定初始化方法，初始化方法在构造方法执行后执行
	destroy-method：销毁方法，在我们调用的方法之后执行（当对象被销毁时才执行）
	 -->
	<bean id="cat" class="cn.yorick.spring.ioc.initAndDestroy3.Cat" init-method="init" destroy-method="destroy"></bean>

</beans>
